
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-volume:before { content: '\e802'; } /* '' */
.icon-volume-up:before { content: '\e803'; } /* '' */
.icon-sun-filled:before { content: '\e804'; } /* '' */
.icon-bat-charge:before { content: '\e805'; } /* '' */
.icon-bat4:before { content: '\e806'; } /* '' */
.icon-bat3:before { content: '\e807'; } /* '' */
.icon-bat2:before { content: '\e808'; } /* '' */
.icon-bat1:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-keyboard:before { content: '\e80b'; } /* '' */